svg.scills-circle(width="110" height="110")
    circle(r="45" cx="55" cy="55" stroke="#ccc" fill="none")
    circle.scills-circle__sector(r="45" cx="55" cy="55" stroke="#74a163" transform="rotate(-90 55 55)")