footer.footer
            div.footer__top
                div.footer__left
                    .container
                        div.footer__info Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                div.footer__mid
                    .container
                        div.footer__pages
                            a.footer__links(href="./works.html") Мои работы
                            a.footer__links(href="./index.html") Обо мне
                            a.footer__links(href="#") Блог
                            a.footer__links(href="#") Авторизация
                        div.footer__socials
                            include ../common/socials
                div.footer__right
                    .container
                        div.footer__quote.quote
                            div.quote__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
                            div.quote__author — Martin Golding
            div.footer__bottom
                div.footer__copirights © Овчаренко Артур | Создано с любовью в LoftSchool | 2018