footer.footer
    .footer__top
        .footer__left
            .container
                .footer__info Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .footer__mid
            .container
                .footer__pages
                    each btns in links
                        a.footer__links(href=`${btns[1]}`) #{btns[0]}
                    a.footer__links(href="/") Авторизация
                .footer__socials
                    include ../common/socials
        .footer__right
            .container
                .footer__quote.quote
                    .quote__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
                    .quote__author — Martin Golding
    .footer__bottom
        .footer__author © Артур Овчаренко
        .footer__copyrights создано с любовью в LoftSchool | 2018