header.header
    div.header__socials.socials
        include ./socials

    div.header__burger-menu.burger-menu
        ul.burger-menu__list
            li.burger-menu__item
            li.burger-menu__item
            li.burger-menu__item

    div.header__profile
        div.header__photo
            img.header__photo-img(src="./assets/img/photo.jpg", alt="photo")

        div.header__profile-text
            div.header__profile-name Артур Овчаренко
            div.header__profile-info Личный сайт веб-разработчика!

    div.header__arrow
        img.header__arrow-img(src="./assets/img/icons/arrow_down.svg", alt="down")