.slider.works__slider
	.works__slider-info.slider-info
		.container
			ul.slider-info__list
				li.slider-info__item.slider-info__item--active
					.slider-info__title.subtitle Сайт школы олнлайн образования
					.slider-info__technologies HTML , CSS, JavaScript
					a.slider-info__link(href="#") Посмотреть сайт
				li.slider-info__item
					.slider-info__title.subtitle Сайт 2
					.slider-info__technologies HTML , JavaScript
					a.slider-info__link(href="#") Посмотреть сайт
				li.slider-info__item
					.slider-info__title.subtitle Сайт 3
					.slider-info__technologies CSS, JavaScript
					a.slider-info__link(href="#") Посмотреть сайт
				li.slider-info__item
					.slider-info__title.subtitle Сайт 4
					.slider-info__technologies HTML , CSS
					a.slider-info__link(href="#") Посмотреть сайт
		
	.slider__preview
		.slider__container
			ul.slider__list
				li.slider__item.slider__item--active
					span.slid__txt 1
					img.slider__img(src="./assets/img/works/work-1.png", alt="work 1")
				li.slider__item
					span.slid__txt 2
					img.slider__img(src="./assets/img/works/work-2.png", alt="work 2")
				li.slider__item
					span.slid__txt 3
					img.slider__img(src="./assets/img/works/work-3.png", alt="work 3")
				li.slider__item
					span.slid__txt 4
					img.slider__img(src="./assets/img/works/work-4.png", alt="work 4")
		
	.slider__controls

		.slider__controls-back
			svg.slider__arrow(width="42" height="30")
				use(xlink:href="./assets/img/sprite.svg#portf_arrow_down")

			.slider__container
				ul.slider__list
					li.slider__item
						span.slid__txt 1
						img.slider__img(src="./assets/img/works/work-1.png", alt="work 1")
					li.slider__item
						span.slid__txt 2
						img.slider__img(src="./assets/img/works/work-2.png", alt="work 2")
					li.slider__item
						span.slid__txt 3
						img.slider__img(src="./assets/img/works/work-3.png", alt="work 3")
					li.slider__item.slider__item--active
						span.slid__txt 4
						img.slider__img(src="./assets/img/works/work-4.png", alt="work 4")
		
		.slider__controls-next
			svg.slider__arrow(width="42" height="30")
				use(xlink:href="./assets/img/sprite.svg#portf_arrow_up")

			.slider__container
				ul.slider__list
					li.slider__item
						span.slid__txt 1
						img.slider__img(src="./assets/img/works/work-1.png", alt="work 1")
					li.slider__item.slider__item--active
						span.slid__txt 2
						img.slider__img(src="./assets/img/works/work-2.png", alt="work 2")
					li.slider__item
						span.slid__txt 3
						img.slider__img(src="./assets/img/works/work-3.png", alt="work 3")
					li.slider__item
						span.slid__txt 4
						img.slider__img(src="./assets/img/works/work-4.png", alt="work 4")