extends ../template

block variables
    - var title = 'Блог'

block content

    header.header
        .profile.blog__profile
            .photo.blog__photo
                img.blog__photo-img(src="./assets/img/photo.jpg", alt="photo")

            .blog__text

                .title.blog__title Блог
                    .title-bg.blog__title-bg
                        svg.title-bg__img(width="300" height="100")
                            use(xlink:href="./assets/img/sprite.svg#blog_header")
                
                .blog__subtitle Статьи, которые я скопировал)

    section.blog

        .triactangle.works__triactangle
            svg.triactangle__svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 140" preserveaspectratio="none")
                polygon.triactangle-left.works__triactangle-left(points="0,0   0,151   500.8,151   500.8,100")
                polygon.triactangle-right.works__triactangle-right(points="1000,0   1000,151   500,151   500,100")
        
        .container
            aside.blog__nav.blog-nav
                ul.blog-nav__list
                    -
                        var title = [
                            'Самое важное в SASS',
                            'Приёмы в вёрстке, без которых не обходится ни один сайт',
                            'Самый необходимый набор Gulp плагинов',
                            'Почему я выбрал Pug'
                        ]

                    li.blog-nav__item.blog-nav__item--active
                        span Самое важное в SASS
                    each item in title
                        li.blog-nav__item
                            span #{item}

            .blog__cont
                article.article.blog__article
                    h3 Самое важное в SASS
                    span 22 ноября 2016
                    .article__text
                        p.
                            Таким образом начало повседневной работы по формированию
                            позиции позволяет выполнять важные задания по разработке
                            направлений прогрессивного развития. Разнообразный и богатый
                            опыт новая модель организационной деятельности играет важную
                            роль в формировании новых предложений. Товарищи! новая модель
                            организационной деятельности играет важную роль в формировании
                            систем массового участия.

                        p.
                            Не следует, однако забывать, что укрепление и развитие
                            структуры обеспечивает широкому кругу (специалистов) участие
                            в формировании систем массового участия. Идейные соображения
                            высшего порядка, а также рамки и место обучения кадров
                            обеспечивает широкому кругу (специалистов) участие в
                            формировании позиций, занимаемых участниками в отношении
                            поставленных задач. Товарищи! постоянный количественный рост
                            и сфера нашей активности способствует подготовки и реализации
                            модели развития. С другой стороны рамки и место обучения
                            кадров влечет за собой процесс внедрения и модернизации
                            системы обучения кадров, соответствует насущным потребностям.
                
                article.article.blog__article
                    h3 Приёмы в вёрстке, без которых не обходится ни один сайт
                    span 22 ноября 2016
                    .article__text
                        p.
                            Таким образом начало повседневной работы по формированию
                            позиции позволяет выполнять важные задания по разработке
                            направлений прогрессивного развития. Разнообразный и богатый
                            опыт новая модель организационной деятельности играет важную
                            роль в формировании новых предложений. Товарищи! новая модель
                            организационной деятельности играет важную роль в формировании
                            систем массового участия.

                        p.
                            Не следует, однако забывать, что укрепление и развитие
                            структуры обеспечивает широкому кругу (специалистов) участие
                            в формировании систем массового участия. Идейные соображения
                            высшего порядка, а также рамки и место обучения кадров
                            обеспечивает широкому кругу (специалистов) участие в
                            формировании позиций, занимаемых участниками в отношении
                            поставленных задач. Товарищи! постоянный количественный рост
                            и сфера нашей активности способствует подготовки и реализации
                            модели развития. С другой стороны рамки и место обучения
                            кадров влечет за собой процесс внедрения и модернизации
                            системы обучения кадров, соответствует насущным потребностям.
    
    include ../common/footer
        