extends ../template

block variables
    - var title = 'Блог'

block content

    include ../common/header

    section.blog

        .triactangle.works__triactangle
            svg.triactangle__svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 140" preserveaspectratio="none")
                polygon.triactangle-left.blog__triactangle-left(points="0,0   0,151   500.8,151   500.8,100")
                polygon.triactangle-right.blog__triactangle-right(points="1000,0   1000,151   500,151   500,100")
        
        .container.blog__container
            aside.blog__nav.blog-nav
                ul.blog-nav__list
                    -
                        var title = [
                            'Самое важное в SASS',
                            'Приёмы в вёрстке, без которых не обходится ни один сайт',
                            'Самый необходимый набор Gulp плагинов',
                            'Почему я выбрал Pug',
                            'Статья блога'
                        ]

                    each item in title
                        li.blog-nav__item
                            span #{item}

            .blog__cont
                article.article.blog__article
                    h3 Самое важное в SASS
                    span 22 ноября 2016
                    .article__text
                        p.
                            Таким образом начало повседневной работы по формированию
                            позиции позволяет выполнять важные задания по разработке
                            направлений прогрессивного развития. Разнообразный и богатый
                            опыт новая модель организационной деятельности играет важную
                            роль в формировании новых предложений. Товарищи! новая модель
                            организационной деятельности играет важную роль в формировании
                            систем массового участия.

                        p.
                            Не следует, однако забывать, что укрепление и развитие
                            структуры обеспечивает широкому кругу (специалистов) участие
                            в формировании систем массового участия. Идейные соображения
                            высшего порядка, а также рамки и место обучения кадров
                            обеспечивает широкому кругу (специалистов) участие в
                            формировании позиций, занимаемых участниками в отношении
                            поставленных задач. Товарищи! постоянный количественный рост
                            и сфера нашей активности способствует подготовки и реализации
                            модели развития. С другой стороны рамки и место обучения
                            кадров влечет за собой процесс внедрения и модернизации
                            системы обучения кадров, соответствует насущным потребностям.
                
                article.article.blog__article
                    h3 Приёмы в вёрстке, без которых не обходится ни один сайт
                    span 22 ноября 2016
                    .article__text
                        p.
                            Таким образом начало повседневной работы по формированию
                            позиции позволяет выполнять важные задания по разработке
                            направлений прогрессивного развития. Разнообразный и богатый
                            опыт новая модель организационной деятельности играет важную
                            роль в формировании новых предложений. Товарищи! новая модель
                            организационной деятельности играет важную роль в формировании
                            систем массового участия.

                        p.
                            Не следует, однако забывать, что укрепление и развитие
                            структуры обеспечивает широкому кругу (специалистов) участие
                            в формировании систем массового участия. Идейные соображения
                            высшего порядка, а также рамки и место обучения кадров
                            обеспечивает широкому кругу (специалистов) участие в
                            формировании позиций, занимаемых участниками в отношении
                            поставленных задач. Товарищи! постоянный количественный рост
                            и сфера нашей активности способствует подготовки и реализации
                            модели развития. С другой стороны рамки и место обучения
                            кадров влечет за собой процесс внедрения и модернизации
                            системы обучения кадров, соответствует насущным потребностям.
    
                article.article.blog__article
                    h3 Самый необходимый набор Gulp плагинов
                    span 23 ноября 2016
                    .article__text
                        p.
                            Таким образом начало повседневной работы по формированию
                            позиции позволяет выполнять важные задания по разработке
                            направлений прогрессивного развития. Разнообразный и богатый
                            опыт новая модель организационной деятельности играет важную
                            роль в формировании новых предложений. Товарищи! новая модель
                            организационной деятельности играет важную роль в формировании
                            систем массового участия.

                article.article.blog__article
                    h3 Почему я выбрал Pug
                    span 24 ноября 2016
                    .article__text
                        p.
                            Таким образом начало повседневной работы по формированию
                            позиции позволяет выполнять важные задания по разработке
                            направлений прогрессивного развития. Разнообразный и богатый
                            опыт новая модель организационной деятельности играет важную
                            роль в формировании новых предложений. Товарищи! новая модель
                            организационной деятельности играет важную роль в формировании
                            систем массового участия.

                article.article.blog__article
                    h3 Статья блога
                    span 25 ноября 2016
                    .article__text
                        p.
                            Таким образом начало повседневной работы по формированию
                            позиции позволяет выполнять важные задания по разработке
                            направлений прогрессивного развития. Разнообразный и богатый
                            опыт новая модель организационной деятельности играет важную
                            роль в формировании новых предложений. Товарищи! новая модель
                            организационной деятельности играет важную роль в формировании
                            систем массового участия.
    include ../common/footer
        