extends ../template

block variables
    - var title = 'Авторизация'

block content
    section.intro
        .intro__top
            .btn.intro__btn
                .btn__text Авторизоваться
        .intro__mid
            .intro__card

                .profile.intro__profle
                    .photo.intro__photo
                        img.intro__photo-img(src="./assets/img/photo.jpg", alt="photo")
                    .profile__text.intro__profile-text
                        .profile__name.intro__profile-name Артур Овчаренко
                        .profile__info.intro__profile-info Личный сайт веб-разработчика
                    .intro__socials.socials
                        include ../common/socials

                - 
                    var links = [
                        ['Мои работы', './works.html'],
                        ['Обо мне', './about-me.html'],
                        ['Блог', './blog.html']
                    ]
                
                ul.nav-btns__list
                    each btns in links
                        li.nav-btns__item
                            a.nav-btns__link(href=`${btns[1]}`) #{btns[0]}
                            
                        
        .intro__bottom
            .intro__info © Артур Овчаренко | создано с любовью в LoftSchool | 2018