block variables

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        title #{title}
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,700i&amp;subset=cyrillic", rel="stylesheet")
        script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        link(rel="stylesheet", href="assets/css/main.min.css")

    body

        .preloader#page-preloader
            .loader
                span#load-perc 0

                svg#svg.preload-svg(width="80" height="95")
                    g
                        path.path#path1(fill="none" stroke="#231F20" stroke-width="3.9003" stroke-miterlimit="10" d="M0,38.005c6.663,0,6.663,7.801,13.327,7.801c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801c6.67,0,6.67,7.801,13.339,7.801S73.33,38.005,80,38.005")
                    g
                        path.path#path2(fill="none" stroke="#231F20" stroke-width="3.9003" stroke-miterlimit="10" d="M0,61.684c6.663,0,6.663,7.801,13.327,7.801c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801c6.67,0,6.67,7.801,13.339,7.801S73.33,61.684,80,61.684")
                    g
                        path.path#path3(fill="none" stroke="#231F20" stroke-width="3.9003" stroke-miterlimit="10" d="M0,85.362c6.663,0,6.663,7.801,13.327,7.801c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801c6.67,0,6.67,7.801,13.339,7.801S73.33,85.362,80,85.362")

        div.wrapper
            block content
        
        script(src="./assets/scripts/bandle.js")