.intro {
    height: 100vh;
    // background: url('../img/bg.jpg') center no-repeat;
    // background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.intro__top {
    margin-top: 20px;
    margin-left: auto;
    color: #fff;
    margin-right: 20px;

    @include phones {
        margin: 0;
        margin-top: 15px;
    }
}

.intro__btn {
    padding: 10px 28px;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 50px;
    transition: .4s;
    position: relative;
    overflow: hidden;
    
    &--active {
        opacity: 0;
        cursor: default;
        z-index: -1;
    }

    .btn__hover {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #4e8839;
        width: 0;
        height: 100%;
        transition: .5s;
        transform-origin: center;
        z-index: 1;
    }

    &:hover {
        border-color: #729e19;

        .btn__hover {
            width: 105%;
        }
    }
}

.btn__text {
    position: relative;
    z-index: 10;
}

.intro__card {
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.intro__card-front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro__profile,
.nav-btns__list {
    * {
        @include tablets {
            font-size: 16px;
            line-height: 24px;
        }

        @include phones {
            font-size: 14px;
            line-height: 24px;
        }
    }
}

.intro__photo {
    width: 140px;
    height: 140px;
    margin-bottom: 15px;
    margin-top: 40px;
}

.intro__profile-text {
    margin-bottom: 30px;
}

.intro__profile-name {
    font-size: 28px;

    @include phones {
        font-size: 21px;
    }
}

.intro__profile-info {
    opacity: .8;
}

.intro__socials {
    opacity: .5;
    // margin-bottom: 35px;
}

.nav-btns__list {
    display: flex;
}

.nav-btns__item {
    background-color: #fff;
    background-color: #6c9c5a;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: .4s;

    &:after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 0;
        height: 100%;
        width: 2px;
        background-color: #fff;
        opacity: .5;
    }

    &:last-child {
        &:after {
            display: none;
        }
    }

    &:hover {
        background-color: #4e8839;
    }
}

.nav-btns__link {
    color: #fff;
    padding: 11px 30px;
    white-space: nowrap;

    &:hover {
        text-decoration: none;
    }
}

.intro__bottom {
    z-index: 10;
    color: #fff;
    margin-bottom: 35px;

    @include tablets {
        font-size: 16px;
        line-height: 24px;
    }
}