.works {
    background-color: #f8f9f5;
}

.works__cont {
    display: flex;
}

.works__left,
.works__right {
    width: 50%;
    display: flex;
}

.works__left {
    background-color: #ebefe2;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slider-info__technologies {
    text-transform: uppercase;
    color: #4e8839;
    margin-bottom: 50px;
}

.slider-info__link {
    color: #fff;
    background-color: #6c9c5a;
    padding: 10px 15px;
    border-radius: 30px;
    transition: .4s;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        background: url('../img/icons/link.svg') center no-repeat;
    }

    &:hover {
        text-decoration: none;
        background-color: darken(#6c9c5a, 7%);
    }
}

.slider-info {
    width: 65%;
}

.slider {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.slider__preview {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1e4d7;
}

.slider__controls {
    display: flex;
    flex-grow: 1;
    height: 220px;
}

.slider__controls-back,
.slider__controls-next {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1e4d7;
    position: relative;
    cursor: pointer;

    &:after {
        content: '';
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        opacity: .7;
    }

    &:before {
        content: '';
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 30px;
        background: url('../img/icons/portf_arrow_up.svg') center no-repeat;
        z-index: 10;
        position: absolute;
    }

    
}

.slider__controls-next {
    &:after {
        background-color: #93998d;
    }
}

.slider__controls-back {
    &:after {
        background-color: #b0b7aa;
    }

    &:before {
        transform: rotate(180deg);
    }
}

.slider__container {
    height: 80%;
    width: 80%;
    display: inline-block;
    text-align: center;
}

.slider__img {
    max-width: 100%;
    max-height: 100%;
}

// отзывы

.communication {
    background-color: #f4f5f0;
}

.reviews {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70%;
}

.reviews__cont {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 30px;
}

.reviews__photo {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.reviews__text,
.reviews__author {
    font-style: italic;
}

.reviews__text {
    color: #5d5a55;
    margin-bottom: 15px;
}

.reviews__name {
    color: #4e8839;
    font-weight: 700;
}

.reviews__status {
    color: #373e42;

    &::before {
        display: inline-block;
        content: "— \a0";
    }
}

.form {
    height: 800px;
    background: url('../img/form-bg.jpg') center no-repeat;
    position: relative;
}

.form__block {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(218, 219, 214, 0.6);
    border-radius: 5px;
    width: 380px;
    overflow: hidden;
}

.form__title {
    margin-top: 25px;
}

.form__cont {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
}

.form__input {
    height: 45px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: 0;
    padding: 0 15px;
    outline: none;
    opacity: .85;

    @include placeholder {
        color: #5d5a55;
        opacity: .5;
      }
}

.form__input--mes {
    height: 140px;
    padding: 15px;
    resize: none;
}

.form__butons {
    display: flex;
    opacity: .85;
}

.form__btn {
    width: 50%;
    border: none;
    background-color: #6c9c5a;
    cursor: pointer;
    outline: none;
    padding: 14px 0;
    color: #fff;
    font-weight: 500;
    position: relative;

    &::after {
        content: '';
        display: block;
        width: 2px;
        background-color: #dee3e7;
        z-index: 10;
        position: absolute;
        right: -1px;
        top: 0;
        bottom: 0;
        opacity: .5;
    }

    &:last-child {
        &::after {
            display: none;
        }
    }
}

.form__btn--reset {
    background-color: #4e8839;
}
  
