body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.section {
  background-color: #f4f5f0;
  position: relative;
}

.title {
  font-family: 'Sansus', Arial, sans-serif;
  font-size: 63px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: #373e42;

  &::after {
    content: '';
    display: block;
    width: 90px;
    height: 3px;
    background: #373e42;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 30px;
  }
}

.subtitle {
  font-family: 'Sansus', Arial, sans-serif;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  color: #566358;

  &::after {
    content: '';
    display: block;
    width: 90px;
    height: 3px;
    background: #566358;
    margin: 0 auto;
    margin-top: 15px;
  }
}

.photo {
  overflow: hidden;
  border-radius: 50%;

  img {
    width: 100%;
  }
}
