.header {
    height: 100vh;
    // min-height: 650px;
    position: relative;

    @include tablets {
        background-image: url('../img/bg.jpg');
        background-position: center;
        background-size: cover;
    }
}

.header__bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1270px;

    @include tablets {
        display: none;
    }
}

.header__bg-img {
    display: block;
    max-width: 150%;

    @media screen and (min-width: 1500px) {
        max-width: 180%;
    }

    @media screen and (max-width: 1024px) {
        max-width: inherit;
    }
}

.header__profile {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    z-index: 10;
}

.header__photo {
    width: 140px;
    height: 140px;
    margin-bottom: 15px;
}

.profile__text {
    color: #fff;
}

.header__arrow {
    position: absolute;
    bottom: 70px;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
    margin: 0;
    z-index: 10;
}

.header__arrow-img {
    width: 25px;
    height: 20px;
    fill-opacity: .7;
    fill: #fff;
    transition: .4s;

    &:hover {
        fill-opacity: 1;
    }
}

.header__bg-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    margin: 0 50px;
    max-width: 1200px;

    @media screen and (min-width: 1280px) {
        margin: 0 auto;
    }
}

.header__bg-text-img {
    fill: #fff;
    fill-opacity: .12;
    width: 100%;
    height: 100%;
}
